.saved-file-uploader {
    background-image: url('https://images.unsplash.com/photo-1474692295473-66ba4d54e0d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1084&q=80');
    background-size: cover;
}

input.file-upload {
    opacity: 0;
}